body{
    background-color: rgb(100, 68, 68);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 25px;
}
h1{
    font-size: 40px;
    margin: 0 0 20px 0;
    text-align: center;
}
p{
    margin: 0 0 10px 0;
}
input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 400px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0069d9;
}
div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    width: 400px;
}
@media (max-width: 480px) {
    .container{
        width: 100%;
    }
    input{
        width: 90%;
    }
    div{
        width: 100%;
    }
}